[submodule "themes/kross-hugo-portfolio-template"]
	path = themes/kross-hugo-portfolio-template
	url = https://github.com/themefisher/kross-hugo-portfolio-template.git
[submodule "lumexralph.github.io"]
	path = lumexralph.github.io
	url = https://github.com/Lumexralph/lumexralph.github.io.git
